{extend name="../../admin/view/table"}

{block name="button"}
<!--{if auth("add")}-->
<button class='layui-btn layui-btn-sm  layui-btn-primary layui-border-green' data-open='{:url("add")}'>添加链接</button>
<!--{/if}-->
<!--{if auth("updataall")}-->
<button data-action='{:url("updataall")}' data-rule="id#{id}" data-table-id="Baidu" data-confirm="确定要更新吗？"
        class='layui-btn layui-btn-sm layui-btn-primary'>批量更新
</button>
<!--{/if}-->
<!--{if auth('mark')}-->
<button class="layui-btn layui-btn-sm layui-btn-primary demo1">批量标记<i
        class="layui-icon layui-icon-down layui-font-12"></i></button>
<!--{/if}-->
<!--{if auth("remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{id}" data-table-id="Baidu" data-confirm="确定要删除选中的链接吗？无法恢复！"
        class='layui-btn layui-btn-sm layui-btn-primary layui-border-red'>批量删除
</button>
<!--{/if}-->
{/block}

{block name='content'}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        {foreach ['index'=>'全部链接','yanswer'=>'已 回 答','noanswer'=>'未 回 答','handin'=>'已 上 交','recycle'=>'回 收 站'] as
        $k=>$v}
        {if isset($type) and $type eq $k}
        <li class="layui-this color-red" data-open="{:url('index')}?type={$k}">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}
        {/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='baiduzd/menu'}
        {include file='baiduzd/index_search'}
        <table id="Baidu" data-url="{:sysuri('index')}" lay-filter="test-dropdown-table"
               data-target-search="form.form-search"></table>
    </div>
</div>
{/block}

{block name='script'}
<script>

    function cc() {
        var checkStatus = layui.table.checkStatus('Baidu'); //demo 即为基础参数 id 对应的值
        if (checkStatus.data.length > 0) {
            var idsArray = [];
            for (var i = 0; i < checkStatus.data.length; i++) {
                idsArray.push(checkStatus.data[i].huida);

                window.open(checkStatus.data[i].huida, "_blank");
            }
        }
    }

    $(function () {
        $('#Baidu').layTable({
            limits: [20, 40, 100, 200, 500, 1000, 5000],
            where: {type: '{$type|default="index"}'},
            even: true, height: 'full',
            sort: {field: 'id', type: 'desc'},
            cols: [[
                {checkbox: true},
                {field: 'id', title: 'ID', width: 80, sort: true, align: 'center'},
                {
                    field: 'url', title: 'url', minWidth: 200
                    , templet: function (d) {
                        if (d.url) {
                            return '<a href=' + d.url + ' target="_blank"  class="layui-table-link">' + d.url + '</a>'
                        } else {
                            return ''
                        }
                    }
                },
                {
                    field: 'title', title: '标题', minWidth: 200
                    , templet: function (d) {
                        if (d.title) {
                            return '<a href=' + d.huida + ' target="_blank"  class="layui-table-link">' + d.title + '</a>'
                        } else {
                            return ''
                        }
                    }
                },
                {
                    field: 'username', title: '回答用户', sort: true, minWidth: 480
                    , templet: function (d) {
                        if (d.username) {
                            var arr = d.username.split("|")
                            var str = ''
                            for (i = 0; i < arr.length - 1; i++) {
                                str = '<button type="button" class="layui-btn layui-btn-primary layui-btn-xs">' + arr[i] + '</button>' + str;
                            }

                            return str
                        } else {
                            return '<button type="button" class="layui-btn layui-btn-xs layui-btn-danger">未作答</button>'
                        }
                    }
                },
                {
                    field: 'robot', title: '来源', width: 150, templet: function (d) {
                        if (d.robot == 1) {
                            return '采集'
                        } else {
                            return '自建'
                        }
                    }
                },
                {toolbar: '#mark', title: '标记', width: 120, align: 'center'},
                {field: 'create_at', title: '创建时间', width: 150},
                {toolbar: '#toolbar', title: '操作面板', width: 200, align: 'center', fixed: 'right'}
            ]],

        });

        layui.use(['dropdown', 'util', 'layer', 'table'], function () {
            var dropdown = layui.dropdown,
                table = layui.table,
                $ = layui.jquery;
            dropdown.render({
                elem: '.demo1',
                data: [{title: '回 收 站', mark: 0},
                    {title: '未 标 记', mark: 1},
                    {title: '已 上 交', mark: 2},
                    {title: '已 回 答', mark: 3},
                    {title: '已 采 纳', mark: 4},
                    {title: '被 折 叠', mark: 5},
                    {title: '链接被删除', mark: 6},
                    {title: '回答被删除', mark: 7}],
                click: function (obj) {
                    var checkStatus = layui.table.checkStatus('Baidu'); //demo 即为基础参数 id 对应的值
                    if (checkStatus.data.length > 0) {
                        if (checkStatus.data.length > 0) {
                            var idsArray = [];
                            for (var i = 0; i < checkStatus.data.length; i++) {
                                idsArray.push(checkStatus.data[i].id);
                            }
                            var ids = idsArray.toString();
                            $.ajax({
                                url: "{:url('mark')}",
                                type: 'POST',
                                dataType: "json",
                                data: {mark: obj.mark, id: ids},
                                success: function (data) {
                                    $(".layui-laypage-btn")[0].click()
                                    layer.msg(data.info)
                                }
                            });
                        }
                    } else {
                        layer.msg('请选择需要更改的数据！')
                    }
                }
            });

            //行工具事件
            table.on('tool(test-dropdown-table)', function (obj) {
                var that = this
                data = obj.data;
                if (obj.event === 'more') {
                    //更多下拉菜单
                    dropdown.render({
                        elem: that,
                        show: true, //外部事件触发即显示
                        data: [{title: '回 收 站', mark: 0, id: data.id},
                            {title: '未 标 记', mark: 1, id: data.id},
                            {title: '已 上 交', mark: 2, id: data.id},
                            {title: '已 回 答', mark: 3, id: data.id},
                            {title: '已 采 纳', mark: 4, id: data.id},
                            {title: '被 折 叠', mark: 5, id: data.id},
                            {title: '链接被删除', mark: 6, id: data.id},
                            {title: '回答被删除', mark: 7, id: data.id}],
                        click: function (data, othis) {
                            //根据 id 做出不同操作
                            if (data.id != '') {
                                $.ajax({
                                    url: "{:url('mark')}",
                                    type: 'POST',
                                    dataType: "json",
                                    data: {mark: data.mark, id: data.id},
                                    success: function (data) {
                                        $(".layui-laypage-btn")[0].click()
                                        layer.msg(data.info)
                                    }
                                });
                            }
                        },
                        align: 'right' //右对齐弹出（v2.6.8 新增）
                        ,
                        style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
                    });
                }
            });
        });
    })
        ;
</script>

<script type="text/html" id="mark">
    {{# if(d.status===0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="more">回收站<i
            class="layui-icon layui-icon-down"></i></a>
    {{# }else if(d.status===1){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs  layui-btn-primary" lay-event="more">标 记<i class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# }else if(d.status===2){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs" lay-event="more">已 上 交<i class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# }else if(d.status===3){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="more">已 回 答<i class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# }else if(d.status===4){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs" style="background: #2F4056;" lay-event="more">已 采 纳<i
            class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# }else if(d.status===5){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs" style="background: #024429;" lay-event="more">被 折 叠<i
            class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# }else if(d.status===6){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs" style="background: #ff1800;" lay-event="more">链接被删除<i
            class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# }else if(d.status===7){ }}
    <!--{if auth('mark')}-->
    <a class="layui-btn layui-btn-xs" style="background:#961b0f;" lay-event="more">回答被删除<i
            class="layui-icon layui-icon-down"></i></a>
    <!--{/if}-->
    {{# } }}


</script>


<script type="text/html" id="toolbar">

    <!--{if auth("upurl")}-->
    <a class="layui-btn layui-btn-sm layui-btn-primary" data-dbclick data-open="{:url('upurl')}?id={{d.id}}"
       data-title="更 新">更 新</a>
    <!--{/if}-->


    <!-- {if isset($type) and $type eq 'index'}-->
    <!--{if auth("state")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('state')}" data-value="id#{{d.id}};status#0">回收站</a>
    <!--{/if}-->
    <!--{elseif isset($type) and $type eq 'recycle'}-->
    <!--{if auth("state")}-->
    <a class="layui-btn layui-btn-sm layui-btn-normal" data-action="{:url('state')}" data-value="id#{{d.id}};status#1">恢
        复</a>
    <!--{/if}-->
    <!--{if auth("remove")}-->
    <a class='layui-btn layui-btn-sm layui-btn-danger' data-confirm="确定要删除该数据吗？无法恢复！" data-action='{:url("remove")}'
       data-value="id#{{d.id}}">
        删 除
    </a>
    <!--{/if}-->
    <!--{else}-->
    <!--{if auth("state")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('state')}" data-value="id#{{d.id}};status#0">回收站</a>
    <!--{/if}-->

    <!--{/if}-->
</script>
{/block}