<fieldset>
    <legend>快捷导航</legend>
    <a href="javascript:;" class="layui-btn layui-btn-primary layui-border-black" onclick="cc()">批量打开</a>
    <a href="https://zhidao.baidu.com/ihome/homepage/myask" target="_blank"
       class="layui-btn layui-btn-primary layui-border-green">我的提问</a>
    <a href="https://zhidao.baidu.com/ihome/homepage/myanwser" target="_blank"
       class="layui-btn layui-btn-primary layui-border-blue">我的回答</a>
    <a href="https://zhidao.baidu.com/ihome/homepage/recommendquestion" target="_blank"
       class="layui-btn layui-btn-primary layui-border-red">待回答</a>
    <a href="https://kdocs.cn/l/cl5L2nG4NTVl" target="_blank" class="layui-btn layui-btn-primary layui-border-black">百度问答汇总</a>
    <!--  -->
    <button data-queue='{:url("Baidu")}' class="layui-btn">采集问题</button>

    <button class='layui-btn  layui-btn-primary layui-border-green' data-modal='{:url("GetBaidu")}'>采集问题</button>
</fieldset>