{extend name="../../admin/view/main"}
{block name="button"}
<!--{if auth("add")}-->
<button data-modal='{:url("add")}' data-title="添加" class='layui-btn layui-btn-sm layui-btn-primary'>添加账户</button>
<!--{/if}-->

{/block}
{block name="content"}
<div class="think-box-shadow">
    <fieldset>
        <legend>匹配规则</legend>
        <div class="layui-form-item layui-inline">
            <button id="show" class="layui-btn">展开</button>
            <button id="hide" class="layui-btn layui-btn-warm">折叠</button>
            <button class="layui-btn layui-btn-primary" data-file data-type="xlsx,xls" data-uptype='local' data-field="topic_excel"><i class="layui-icon">&#xe655;</i>导入数据</button>


        </div>
    </fieldset>
    <table class="layui-hidden" id="treeTable" lay-filter="treeTable" data-target-search="form.form-search"></table>
</div>
{/block}
{block name='script'}
<script type="text/javascript">
    layui.config({
        base: '/static/plugs/layui_exts/tableTreeDj/'
    });
    layui.use(['table', 'tableTreeDj'], function () {
        const table = layui.table
        const tableTree = layui.tableTreeDj;
        const $ = layui.$;
        const cols = [[
             {toolbar: '#toolbar', title: '操作面板', minWidth: 200, align: 'center', fixed: 'left'}
            ,{type: 'checkbox', sort: true}
            , {field: 'id', title: 'ID', width: 80, align: "center"}
            , {field: 'sort', title: '排序权重', width: 120, align: 'center', templet: '#SortInputTpl'}
            , {field: 'title', minWidth: 310, title: '账户计划结构'}
            , {
                field: 'match', title: '匹配模式', width: 100, align: 'center'
                , templet: function (d) {
                    if (d.match == 1) {
                        return '<font color="#009688">包含</font>'
                    } else if (d.match == 2) {
                        return '<font color="#5FB878">不包含</font>'
                    } else if (d.match == 3) {
                        return '<font color="#393D49">等于</font>'
                    } else if (d.match == 4) {
                        return '<font color="#1E9FFF">不等于</font>'
                    } else if (d.match == 5) {
                        return '<font color="#FFB800">开始于</font>'
                    } else if (d.match == 6) {
                        return '<font color="#FF5722">截止于</font>'
                    } else {
                        return ''
                    }
                }
            }
            , {field: 'rootword', title: '词根', width: 500}
            ,{field: 'status', title: '是否公开', align: 'center', minWidth: 110, templet: '#StatusSwitchTpl'}
            ,{field: 'export', title: '导出', align: 'center', width: 105, templet: '#export'}
        ]]


        // 表格配置
        const objTable = {
            elem: '#treeTable'
            , url: '{:url("json")}'
            , limit: 2
            , cols: cols
            , id: 'list'
            , loading: true
            ,ven: true,
            height: 'full'
        }

        const objTree = {
            //defaultShow: true,
            title: 'title',
            keyId: "id",
            keyPid: "pid",
            indent: '&nbsp;&nbsp;&nbsp;&nbsp;',
            icon: {
                open: 'layui-icon layui-icon-triangle-d', // 展开时候图标
                close: 'layui-icon layui-icon-triangle-r', // 折叠时候图标
            }
            , showCache: true, //是否开启展开折叠缓存,默认不开启
        }

        // tableTree 渲染表格
        //table.render(objTable)
        tableTree.render(objTable, objTree);

        tableTree.cache(tableTree.getShowCache(), [])

        $('#show').click(() => {
            tableTree.showAll(objTable);
        });
        $('#hide').click(() => {
            tableTree.hideAll(objTable);
        });

        // 数据状态切换操作
        layui.form.on('switch(StatusSwitch)', function (obj) {
            $.form.load("{:url('state')}", {id: obj.value, status: obj.elem.checked > 0 ? 1 : 0}, 'post', function (ret) {
                if (ret.code < 1) $.msg.error(ret.info, 3, function () {
                    $('#treeTable').trigger('reload'); // 操作异常时重载数据
                });
                else{
                    objTable.where = {key: "val"}
                    tableTree.reload(objTable, 'list');
                    layer.msg(ret.info);
                }
                return false;
            }, false);
        });

        require(['excel'], function (excel) {
            var d = new Date();
            excel.bind(function (data) {
                data.forEach(function (item, index) {
                    data[index] = [item.id,item.pid,item.title, item.match,item.rootword];
                });
                data.unshift(['ID','PID','单元', '匹配规则','词根']);
                return data;
            }, '账户结构配置表' + d.getTime());
        });

        /*！文件上传过程事件处理 覆盖数据 */
        $('[data-file]').on('upload.done', function (file, obj) {
            /*! 提交数据并返回结果 */
            $.form.load('{:url("import")}', {file: obj.data.url}, 'post');
        })
    });
</script>
<!-- 规则导出 -->
<script type="text/html" id="export">
    <!--{if auth("export")}-->
    {{# if(d.pid==0){ }}
    <button type="button" class="layui-btn layui-btn-primary layui-border-black layui-btn-xs" data-form-export="{:url('export')}?pid={{d.id}}" >
        <i class="layui-icon">&#xe601;</i>
    </button>
    {{# } }}
    <!--{/if}-->
</script>

<!-- 数据状态切换模板 -->
<script type="text/html" id="StatusSwitchTpl">
    <!--{if auth("state")}-->
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" lay-text="已公开|私有" lay-filter="StatusSwitch" {{d.status>0?'checked':''}}>
    <!--{else}-->
    {{d.status ? '<b class="color-green">已公开</b>' : '<b class="color-red">私有</b>'}}
    <!--{/if}-->
</script>
<!-- 列表排序权重模板 -->
<script type="text/html" id="SortInputTpl">
    <input min="0" type="number" data-blur-number="0" data-action-blur="{:sysuri()}" data-value="id#{{d.id}};action#sort;sort#{value}" data-loading="false" value="{{d.sort}}" class="layui-input text-center">
</script>

<script type="text/html" id="toolbar">
    <!--{if auth("add")}-->
    <a class="layui-btn layui-btn-sm layui-btn-primary" data-title="添加子菜单"
       data-modal='{:url("add")}?pid={{d.id}}'>添 加</a>
    <!--{/if}-->
    <!--{if auth("edit")}-->
    <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑菜单"
       data-modal='{:url("edit")}?id={{d.id}}'>编 辑</a>
    <!--{/if}-->
    <!--{if auth("remove")}-->
    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要永久删除此规则吗？" data-action="{:url('remove')}" data-value="id#{{d.id}}">删 除</a>
    <!--{/if}-->
</script>
{/block}

{/block}