<fieldset>
    <legend>条件搜索</legend>
    <form action="{:request()->url()}" autocomplete="off" class="layui-form layui-form-pane form-search" method="get" onsubmit="return false">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">姓名</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="name" placeholder="请输入用户姓名" value="{$get.name|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">电话</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="phone" placeholder="请输入用户电话" value="{$get.phone|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">微信号</label>
            <label class="layui-input-inline">
                <input class="layui-input" name="wechat" placeholder="请输入用户微信" value="{$get.wechat|default=''}">
            </label>
        </div>


        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">推送状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>-- 全部 --</option>
                    {foreach ['成功', '失败'] as $k=>$v}
                    {if $k.'' eq input('status')}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <label class="layui-input-inline">
                <input class="layui-input" data-date-range name="create_at" placeholder="请选择创建时间" value="{$get.create_at|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>
<script>window.form.render()</script>