<fieldset>
    <legend>匹配规则</legend>
    <div class="layui-form-item layui-inline">
        <p>注：如需要清空数据，请点击右上角清空数据按钮，清空的数据将无法恢复，请紧慎操作！</p>
        <p>当前关键词数:<strong style="color: red">{$allkeyword}</strong> 个，剩余关键词数:<strong
                style="color: red">{$Notkeyword}</strong>个</p>
    </div>


    <fieldset class="layui-field-title" style="margin-bottom: 0px;">
        <legend>分词</legend>
    </fieldset>

    <form  class="layui-form layui-form-pane form-search" id="AuthForm" action='{:url("findall")}' data-auto="true" method="post"
          autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">计划规则</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="id">
                    <option value=''>-- 未选择 --</option>
                    {if isset($kcon)}
                    {foreach $kcon as $k=>$v}
                    {if $v.id.'' eq input('id')}
                    <option selected value="{$v.id}">{$v.title}</option>
                    {else}
                    <option value="{$v.id}">{$v.title}</option>
                    {/if}{/foreach}
                    {/if}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">单元规则</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="unitid">
                    <option value=''>-- 未选择 --</option>
                    {if isset($units)}
                    {foreach $units as $k=>$v}
                    {if $v.id.'' eq input('id')}
                    <option selected value="{$v.id}">{$v.title}</option>
                    {else}
                    <option value="{$v.id}">{$v.title}</option>
                    {/if}{/foreach}
                    {/if}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">地域规则</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="regionid">
                    <option value=''>-- 未选择 --</option>
                    {if isset($region)}
                    {foreach $region as $k=>$v}
                    {if $v.id.'' eq input('id')}
                    <option selected value="{$v.id}">{$v.title}</option>
                    {else}
                    <option value="{$v.id}">{$v.title}</option>
                    {/if}{/foreach}
                    {/if}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 开始分词</button>
        </div>
    </form>

    <fieldset class="layui-field-title" style="margin-bottom: 0px;">
        <legend>数据导出</legend>
    </fieldset>
    <div class="layui-form layui-form-pane form-search">


        <div class="layui-form-item layui-inline">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">匹配模式</label>
                <label class="layui-input-inline">
                    <select name="status" class="layui-select">
                        <option value=''>-- 未设置 --</option>
                        {foreach ['1'=>'短语','2'=>'广泛','3'=>'精确'] as $k=>$v}
                        {if isset($get.status) and $get.status eq $k}
                        <option selected value="{$k}">{$v}</option>
                        {else}
                        <option value="{$k}">{$v}</option>
                        {/if}{/foreach}
                    </select>
                </label>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">出价</label>
                <label class="layui-input-inline">
                    <input name="title" value="{$get.title|default='1.00'}" placeholder="出价" class="layui-input">
                </label>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">访问URL</label>
                <label class="layui-input-inline">
                    <input name="title" value="{$get.title|default=''}" placeholder="出价" class="layui-input">
                </label>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">移动URL</label>
                <label class="layui-input-inline">
                    <input name="title" value="{$get.title|default=''}" placeholder="出价" class="layui-input">
                </label>
            </div>

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">状态</label>
                <label class="layui-input-inline">
                    <select name="status" class="layui-select">
                        <option value=''>-- 未设置 --</option>
                        {foreach ['1'=>'启动','2'=>'暂停'] as $k=>$v}
                        {if isset($get.status) and $get.status eq $k}
                        <option selected value="{$k}">{$v}</option>
                        {else}
                        <option value="{$k}">{$v}</option>
                        {/if}
                        {/foreach}
                    </select>
                </label>
            </div>

            <div class="layui-form-item layui-inline">
                <button type="button" data-form-export="{:request()->url()}" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-export"></i>导出数据
                </button>
            </div>
        </div>
    </div>
</fieldset>
<script>
    window.form.render()
</script>