<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table class="layui-table" lay-skin="line">
    <thead>
    <tr>
        <th>计划</th>
        <th>单元</th>
        <th>关键词</th>
    </tr>
    </thead>
    <tbody>
    {foreach $list as $key=>$vo}
    <tr>
        <td>aa</td>
        <td>bb</td>
        <td>{$vo.keywords}</td>

    </tr>
    {/foreach}
    </tbody>
</table>





{/foreach}

</body>
</html>