{extend name="../../admin/view/main"}

{block name='content'}
<div class="think-box-shadow portal-block-container notselect">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-125deg,#57bdbf,#2f9de2)">
                <div>工单总量</div>
                <div>{$allorder|default='0'}</div>
                <div>当前工单总数量</div>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-app"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-125deg,#ff7d7d,#fb2c95)">
                <div>已完成工单</div>
                <div>{$endorder|default='0'}</div>
                <div>当前已完成工单</div>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-user"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-113deg,#c543d8,#925cc3)">
                <div>剩余未完成</div>
                <div>{$nendorder|default='0'}</div>
                <div>未完成工单</div>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-form"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="portal-block-item nowrap" style="background:linear-gradient(-141deg,#ecca1b,#f39526)">
                <div>超时工单</div>
                <div>{$csorder|default='0'}</div>
                <div>未完成超时工单数</div>
            </div>
            <i class="portal-block-icon layui-icon layui-icon-rmb"></i>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15 margin-top-10">
    <div class="layui-col-xs12">
        <div class="think-box-shadow">
            <div id="main8" style="width:100%;height:350px"></div>
        </div>
    </div>


    <div class="layui-col-xs12 layui-col-md6">
        <div class="think-box-shadow">
            <div id="main5" style="width:100%;height:350px"></div>
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-md6">
        <div class="think-box-shadow">
            <div id="main6" style="width:100%;height:350px"></div>
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-md6">
        <div class="think-box-shadow">
            <div id="main4" style="width:100%;height:350px"></div>
        </div>
    </div>
    <div class="layui-col-xs12 layui-col-md6">
        <div class="think-box-shadow">
            <div id="main2" style="width:100%;height:350px"></div>
        </div>
    </div>

</div>
<label class="layui-hide">
    <textarea id="jsondata1">{$tjname|json_encode}</textarea>
    <textarea id="jsondata2">{$zzname|json_encode}</textarea>
    <textarea id="jsondata3">{$wwcname|json_encode}</textarea>
    <textarea id="days">{$days|json_encode}</textarea>
</label>

<script>
    require(['echarts'], function (echarts) {
        var data1 = JSON.parse($('#jsondata1').html());
        var data2 = JSON.parse($('#jsondata2').html());
        var data3 = JSON.parse($('#jsondata3').html());
        var dataall = JSON.parse($('#days').html());

        var days = dataall.map(function (item) {
            return item['当天日期'];
        });
        (function (charts) {
            window.addEventListener("resize", function () {
                charts.resize()
            });
            charts.setOption({
                title: {
                    text: '当前工单个人完成情况'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['总计单量', '已完成']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                   // data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    data: data2.map(function (item) {
                        return item.name
                    }),
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '已完成',
                        type: 'line',
                        stack: 'Total',
                        data: data3.map(function (item) {
                            return item.value
                        }),
                    },
                    {
                        name: '总计单量',
                        type: 'line',
                        stack: 'Total',
                        data: data2.map(function (item) {
                            return item.value
                        }),
                    }
                ]
            });
        })(echarts.init(document.getElementById('main4')));

        (function (charts) {
            window.addEventListener("resize", function () {
                charts.resize()
            });
            charts.setOption({
                title: {
                    text: '工单提交占比',
                    subtext: '提交工单人员名单',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: '工单提交人',
                        type: 'pie',
                        radius: '50%',
                        data: data1.map(function (item) {
                            return {name: item.name, value: item.value}
                        }),
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        })(echarts.init(document.getElementById('main5')));

        (function (charts) {
            window.addEventListener("resize", function () {
                charts.resize()
            });
            charts.setOption({
                title: {
                    text: '工单制作占比',
                    subtext: '工单制作人员名单',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: '工单制作人',
                        type: 'pie',
                        radius: '50%',
                        data: data2.map(function (item) {
                            return {name: item.name, value: item.value}
                        }),
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
        })(echarts.init(document.getElementById('main6')));


        (function (charts) {
            window.addEventListener("resize", function () {
                charts.resize()
            });
            charts.setOption({
                title: {
                    text: '近30天工单信息'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['新提交', '已完成']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: days
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '已完成',
                        type: 'line',
                        stack: 'Total',
                        data: dataall.map(function (item) {
                            return item['已完成工单'];
                        }),
                    },
                    {
                        name: '新提交',
                        type: 'line',
                        stack: 'Total',
                        data: dataall.map(function (item) {
                            return item['新提交工单'];
                        }),
                    }

                ]
            });
        })(echarts.init(document.getElementById('main8')));
    });
</script>

{/block}
